.container2 {
  padding: 4% 10%;
}
#sec2{
background-color: white;
}
#title{
  background-color: #c6eccf;
  color: black;
}

h1 {
  font-family: 'Mitr', sans-serif;
  font-size: 3.5rem;
  color: green;


}
h2 {
font-family: 'Raleway', sans-serif !important;
  font-size: 2.5rem;


}
.container-fluid {
  padding: 4% 10%;
}


/* Navigation Bar */
.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4.5rem;
  font-weight:bold;

}

.nav-item{
  padding: 0 18px;
}

.nav-link {
  font-size: 2.5rem;
  font-family: 'Mitr', sans-serif;
  color: black;
}


/* Download Button  */
.download-button {
  margin: 5% 3% 5% 0;
  background-color: black;
}

/* Title Image  */

.title-image{
  margin-left: 5%;
  width: 100%;
  transform: rotate(25deg);
}
.bodyimg
{
  transform: rotate(0deg);
  width: 100%;
  margin-left: 5%;



}
h3{
  font-family: 'Mitr', sans-serif;
  font-size: 3.5rem;
  color: black;


}

ul{
  font-family: 'Mitr', sans-serif;
  color: green;
  font-size: 2.0rem;
}
.NANI{
font-family: 'Mitr', sans-serif;
color: green;
font-size: 2.0rem;
display: flex;
}
